<%- include('../partials/header'); %>
<main class="main container-fluid">
    <h2>Welcome to information on the Hit Indie Metroidvania, Monster Sanctuary</h2>
</main>
<%- include('../partials/footer'); %>
